:root {
    --navio_primary: #0061EA;
}
.alert {
    height: 20px;
    width: 100%;
    position: relative;
    top: 0;
    font-size: 10px;
    margin: 0;
    background-color: #FFAB00;
    padding: 2px;
    padding-left: 40px;
    color:#124A83;
}
#close{
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    float: right;
    padding-right: 10px;
}
/*header*/
.bg-light {
    background-color: var(--navio_primary) !important;
    color: #FFF !important;
}
.navbar-toggler,
navbar-toggler-icon,
.navbar-light .navbar-brand {
    color: #FFF !important;
}
.buttons_go {
    background-color: #FFF;
    color: var(--navio_primary);
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border: 0;
    border-radius: 10px;
}
/*Close movile*/
.menu-activador {
    width: 30px;
    height: 20px;
    margin: 10px auto;
}
.menu-activador #lanzador {
    position: absolute;
    left: -9999px;
}
.menu-activador label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
}
.menu-activador .menu-activador-linea {
    height: 2px;
    background-color: #FFF;
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
}
.menu-activador #lanzador:checked~label .menu-activador-linea:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.menu-activador #lanzador:checked~label .menu-activador-linea:nth-child(2) {
    opacity: 0;
}
.menu-activador #lanzador:checked~label .menu-activador-linea:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
/*Buscador*/
.nav-item {
    text-align: right;
}
#buscador1 {
    background-color: transparent;
    color: #FFF;
    border-radius: 20px;
    height: 30px;
}
#buscador1::placeholder {
    color: #FFF;
}
#basic-text1 i {
    font-size: 12px;
    margin-left: -5px;
}
#basic-text1 {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    margin-top: 2px;
    margin-left: -28px;
    background-color: #FFF;
    color: var(--navio_primary);
}
.menu_second {
    width: 100%;
    background-color: #FFF;
}

/*sub menu */
.topnav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    overflow: hidden;
    background-color: #f1f1f1;
    padding-left: 15%;
    padding-right: 15%;
}
.topnav a {
    justify-content: space-between;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 1px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
}
.topnav a:hover {
    border-bottom: 6px solid #FFAB00;
}
.topnav a.active {
    border-bottom: 6px solid #FBD015;
}
/*Slider */
.sliders {
    background-image: url(../images/2nueva-bandera--agosto.png);
    width: 100%;
    min-height: 360px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.sliders h1 {
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 20px;
}
.sliders h5 {
    padding-top: 40px;
    font-weight: 100;
}
#buscador2 {
    background-color: #FFF;
    border-radius: 20px;
    height: 40px;
}
#basic-text2 {
    border-radius: 18px;
    height: 36px;
    width: 36px;
    margin-top: 2px;
    margin-left: -37px;
    background-color: #0B457F;
    color: #FFF;
    z-index: 2;
}
.app {
    background-color: #FFF;
    position: relative;
    top: -90px;
    -webkit-box-shadow: 10px -5px 9px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -5px 9px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -5px 9px -9px rgba(0, 0, 0, 0.75);
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    padding: 10px;
}
/*Noticias*/
.notice h1 {
    color: #0B457F;
    font-size: 16px;
    line-height: 16px;
}
.notice p {
    color: #0B457F;
    font-size: 14px;
    line-height: 14px;
}
.notice ul li {
    font-size: 11px;
    font: Regular 10px Work Sans;
    color: #0B457F;
}
.notice ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}
.notice {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5d5;
}
/*Carrusel*/
.titulo_carrucel {
    color: #3772FF;
}
.add {
    font-size: 60px;
    float: right;
    margin-top: -40px;
    color: #3772FF;
}
.carousel-indicators li {
    background-color: #004884;
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
}
.carousel-item h1 {
    font-size: 34px;
    padding-bottom: 10px;
    font-weight: 100;
    padding-bottom: 90px;
    color: #004884;
}
.carousel-item p {
    font-size: 10px;
    padding-bottom: 12px;
    color: #004884;
}
.carousel-indicators {
    bottom: -30px !important;
}
.good {
    color: #069169 !important;
}
.box_carrucel {
    padding: 10px;
    border-radius: 10px;
}
/*otros temas*/
.cajones {
    min-height: 170px !important;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    font: Regular 16px/19px Work Sans;
    letter-spacing: 0;
    color: #0B457F;
    padding-top: 20px;
    border-radius: 10px;
}
.title1 {
    color: #0B457F;
    font-weight: 100;
    padding-left: 40px;
}
/*Footer*/
.footer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3366CC 0% 0% no-repeat padding-box;
    color: white;
    text-align: center;
}
.links1 {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}
.links2 {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}
.links1 li,
.links2 li {
    padding: 10px
}
.links1 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links1 li button {
    color: var(--navio_primary);
}
.links2 li a {
    color: #FFF;
    font-weight: 500;
}
.btn_footer {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    border: 0;
    margin-bottom: 10px;
}
.footer h1 {
    font-weight: 100;
}
.ver_mas {
    color: #3772FF;
    float: right;
    margin-top: 4px;
}